In [6]:
# Setup path for databse

%autoreload 2
%pylab inline
pylab.rcParams['figure.figsize'] = (16, 9)

import pandas as pd
from pathlib import Path
path = Path("./database/")

Populating the interactive namespace from numpy and matplotlib

In [20]:
# Build/update flat-file(csv) database

from potion import Database

db = Database(path)
db.update()

404 Client Error: Not Found for url: https://www.nseindia.com/archives/nsccl/volt/CMVOLT_20062018.CSV

In [11]:
# Create a slice of data from the database

from potion import Slice

s = Slice(path, lookback=21)

In [12]:
# Example

df = s.symbol("HDFCBANK")
# df['cumulative_return'].plot()
df

              symbol  return  gross_return  cumulative_return
date
2018-05-22  HDFCBANK -0.0016        1.0000           1.000000
2018-05-23  HDFCBANK -0.0113        0.9887           0.988700
2018-05-24  HDFCBANK  0.0094        1.0094           0.997994
2018-05-25  HDFCBANK  0.0114        1.0114           1.009371
2018-05-28  HDFCBANK  0.0165        1.0165           1.026026
2018-05-29  HDFCBANK -0.0047        0.9953           1.021203
2018-05-30  HDFCBANK  0.0077        1.0077           1.029066
2018-05-31  HDFCBANK  0.0499        1.0499           1.080417
2018-06-01  HDFCBANK -0.0136        0.9864           1.065723
2018-06-04  HDFCBANK -0.0310        0.9690           1.032686
2018-06-05  HDFCBANK  0.0085        1.0085           1.041464
2018-06-06  HDFCBANK -0.0030        0.9970           1.038339
2018-06-07  HDFCBANK  0.0024        1.0024           1.040831
2018-06-08  HDFCBANK -0.0063        0.9937           1.034274
2018-06-11  HDFCBANK -0.0034        0.9966           1.030757
2018-06-12  HDFCBANK  0.0008        1.0008           1.031582
2018-06-13  HDFCBANK -0.0061        0.9939           1.025289
2018-06-14  HDFCBANK  0.0029        1.0029           1.028263
2018-06-15  HDFCBANK -0.0038        0.9962           1.024355
2018-06-18  HDFCBANK -0.0052        0.9948           1.019029
2018-06-19  HDFCBANK  0.0022        1.0022           1.021271